@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

*{
    margin: 0;padding: 0;
}
*,::before,::after{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color:#0a021c;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style: none;
}
img{
    max-width:100%;
    vertical-align:middle;
}
strong{
    font-weight:800;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
input::placeholder{
    font:inherit;
}
h1,h2,h3,h4{
    font-family: 'Poppins';
}
h1{
    font-size: calc(1.3em+1vw);
    font-weight: 800;
    line-height: 1;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.4em;
    font-weight: 700;
}
h4{
    font-size: 1em;
    font-weight: 600;
}
.mini-text{
    font-size: 11px;
    color:#7c899a ;
}
/* reusable selector */
.container{
    max-width: 1500px;

}
.column{
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.column .row{
    padding: 0 0.938em;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexitem{
    display: flex;
    align-items: center;
}
.flexcol{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.main-links a:hover{
    color: #794afa;
}
.second-links a:hover{
    color: #f50e0e;
}
 .icon-large{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}
.icon-large , .pro{
    font-size: 1.75em;
    padding: 0 0.75em 0 0 ;
}
/* header */
header li>a{
    display: flex;
    position: relative;
    line-height: inherit;
    transition:color .3s;
}
/* ...header top */
.header-top .wrapper ul{
    gap:2em
}
.header-top  li{
position: relative;
}
/* b.header nav */
.fly-item{
    position: absolute;
    height: 16px;
    font-size: 11px;
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
}
nav .fly-item{
    top: 50%;
    margin-top: -24px;
    width: 30px;
    border-radius: 3px;
    right: -32px;
    background-color: #ff6b6b;
}
.header-nav .right .icon-large{
    position: relative;
}
.header-nav .right .fly-item{
    top:0;
    right: 16px;
    width: 16px;
    background-color: #ff6b6b;
    border-radius: 50%;
}
.mega .flexcol{
    flex: 1;
    padding-right: 2.5em;
    margin-bottom: 1.5em;
    z-index:  1;
}
/* C. header main,Departments categpory */
.dpt-menu  ul  li  a{
    font-size: 13px;
    height: 46px;
    align-items: center;
}
.dpt-menu .has-child:hover > ul{
    display: block;
}
.dpt-menu .has-child li a:hover {
    background: rgba(0,0,0,.2);
    border-radius: 0 30px;
}
.dpt-menu .has-child .drp2:hover > ul{
    display: block;
}
form.search :where(span,button)
{
    position: absolute;
    top: 0;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color:#f2f3f5 ;
    height: 100%;
}
form.search button:hover{
    background-color: #0a021c;
}
/*updates*/
/*Dropdown */
.upd .drpu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color:#f2f3f5 ;
    top: 38px;
    border: 1px solid #e5e8ec;
    border-top: 0;
    border-radius:7px;
    z-index: 9;
    display: none;
    color:#030303;
    left:0px;
}
details[open] summary ~ *{
    animation: open 0.3s ease-in-out;
}
@keyframes open{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
details summary::-webkit-details-marker{
    display: none;
}
details summary{
    width: 100%;
    padding: 0.5rem 0 0 0;  
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 300;
    list-style: none;
}
details summary:after{
    content: "+";
    color:black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after{
    transform: rotate(45deg);
    font-size: 2rem;
}
details summary{
 outline:0;
}
details p{
    font-size: 0.95rem;
    margin: 0 15px ;
    padding-top: 1rem;border-bottom: 1px solid black;
}
 .upd .main-text:hover, .upd-trigger:hover {
    cursor: pointer;
    color: #101010;
}
.upd .upd1:hover .drpu{
    display: block;
}
/*upcoming Events*/
main .events > ul > li{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: rgb(253, 191, 191);
    color: #0a021c;
    width: 25%;
    padding :12px;
    margin: 0px 10px; border-radius: 7px;
}
main .events .time > span{
    font-size: 1.2em;
}
main .events .details p{
    font-size: 0.8em;
}
main .events .arrow{
    display: flex;
    margin-top: 10px;
}
main .events .wrapper h3{
    font-size: 1.5em;
    padding-left: 15px;
}
main .events .details .arrow:hover {
    color: #f45f5f;
    text-decoration: underline;
}
main .events ul li:hover {
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: .3s,border-color .3s;
}

main .events .time .pop {
    position: absolute;
    top: 2em;
    width: 140px;
    line-height: 2em;
    background-color: #f2f3f5;
    text-align: center;
    border-radius: 2px;display: none;
}
main .events .time:hover .pop{
    display: block;
}

/* mid part*/
/* button */
.primary-button{
    background-color:#ff6b6b;
    color:#ffffff;
    font-size: 13px;
    padding: 0.9em 2em;
    height: auto;
    width: fit-content;
    border-radius: 2em;
    transition: #ff6b6b .3s , #ffffff .3s;
}
.primary-button:hover{
    background-color: #4f13d1;
}
/* media screen */
@media screen and (min-width:992px)
{
    .container{
        padding: 0 2em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }

    .logo a{
        margin-right: 2em;
    }
    .header-nav{
        padding: 0;margin: 0;border-bottom: 0;
    }
    .header-nav .right li > a {
        margin-left: 1em;
    }
/* mega menu */
    nav .mega{
        position: absolute;
        width: 100%;
        height: auto;
        top:auto;
        left: 0;
        right: 0;
        padding: 2.5em;
        line-height: 2em;
        background-color:#f2f3f5 ;
        box-shadow: rgb(0 0 0 /20% ) 0 30px 20px -30px;
        z-index: 100;
        display: none;
        box-sizing: content-box;
    }
    nav li.has-child:hover .mega{
        display: block;
    }
    nav .mega .wrapper{
        display: flex;
    }
    nav .mega h4{
        font-size: 0.8em;
        text-transform: uppercase;
    }
    nav .mega ul{
        font-size:13px ;
    }
    nav .mega .cc{
        display: flex;
        flex-wrap: wrap;
        max-width: 180px;
    }
    nav .mega .cc li{
        min-width: 80px;
    }
    .header-main .right{
        max-width: 600px;
        margin-left: auto;
    }
    nav li.jobs .mega{
        position:absolute;
        width: 300px;
        height: auto;
        padding: 0;
        left: 600px;
    }
    nav li.practice .mega{
        width:500px;
        padding: 0;
        position: absolute;
        left: 700px;
    }
    nav li.tutorials .mega{
        display: none;
    }
    nav li.tutorials .mega .wrapper{
        padding: 100;
        width: 100%;
        margin: 100;
        display: flex;
        flex-direction: row;
    }
    /* Departments */
    .dpt-menu{
        position: absolute;
        top: 100%;
        width: 300px;
        background-color: #ffffff;
        border: 1px solid #e5e8ec;
        border-top: 0;
        border-bottom: 0;
    }
    .dpt-menu > ul > li > a{
        font-weight: 500;
        padding:0 1.5em;
        border-bottom: 1px solid #e5e8ec;
    }
}